//
//  OBConfig.xcconfig
//  OBBilyoner
//
//  Created by Özkan Bölükbaş on 8.02.2025.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

ENVIROMENT_CONFIGURATION = Development

// Server URL
BASE_URL = https:/$()/api.the-odds-api.com/v4/

// Api Key
API_KEY = 54161b2a7ab701776124c9da56b25b35
